<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-06-18T09:59:49Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mac004/Downloads/1871115/RecipeBook/RecipeBook.xcodeproj</string>
</dict>
</plist>
